body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: #f4f4f4;
  color: #212529;
}

:root {
  --primary: #003e92;
  --secondary: #3ecf00;
  --white: #ffffff;
  --gray: #6c757d;
  --light-gray: #f1f3f5;
}

button {
  font-family: inherit;
  cursor: pointer;
}
